:root {
    --border: 1px solid deeppink;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav {
    height: 4rem;
    width: 100%;
    background-color: #047BDB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
}
.nav {
    /* border: var(--border); */
    height: 3rem;
    width: 3rem;
}
h1 {
    color: aliceblue;
    text-align: center;
}
#title {
    width: 12rem;
    text-align: center;
    background-image: url("img/ammunation_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#menu {
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu:hover #menuLine {
}
#menuLine {
    position: relative;
    height: 0.25rem;
    width: 100%;
    background-color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px white;
}
#menuLine::before,
#menuLine::after {
    content: "";
    position: absolute;
    height: 0.25rem;
    width: 100%;
    background-color: inherit;
    border-radius: inherit;
    box-shadow: inherit;
}
#menuLine::before {
    top: -1rem;
}
#menuLine::after {
    bottom: -1rem;
}

